<% include ../partials/header.ejs %>
<hgroup id="pagetagline">
    <h1>Page name</h1>
    <p>Subtitle</p>
</hgroup>
<div class="row">

    <div class="col span_3 maincontent">
        <form id="filterbox" method="get">
            <fieldset>
                <legend>General</legend>
                <label>
                    Search:
                    <input type="text" name="q" value="" />
                </label>
                <label>
                    Sort By:
                    <select name="sortby">
                        <option value="popularity">Popularity</option>
                        <option value="price">Price</option>
                        <option value="az">A-Z</option>
                    </select>
                </label>
                <label>
                    <input type="checkbox" name="onlyavailable" />
                    Only Available now
                </label>
            </fieldset>
            <!--<hr>
            <fieldset>
                <legend>Seasons</legend>
                <label>
                    <input type="checkbox" name="spring" />
                    Spring
                </label>
                <label>
                    <input type="checkbox" name="summer" />
                    Summer
                </label>
                <label>
                    <input type="checkbox" name="autumn" />
                    Autumn
                </label>
                <label>
                    <input type="checkbox" name="winter" />
                    Winter
                </label>
            </fieldset>
            <hr>
            <fieldset>
                <legend>Ecosystem</legend>
                <label>
                    <input type="checkbox" name="coasts" <%= (query.coasts == "on" ? "checked" : "") %>/>
                    Coasts & estuaries
                </label>
                <label>
                    <input type="checkbox" name="mountains" <%= (query.mountains == "on" ? "checked" : "") %>/>
                    Mountains & moorlands
                </label>
                <label>
                    <input type="checkbox" name="hedgerows" <%= (query.hedgerows == "on" ? "checked" : "") %>/>
                    Hedgerows & meadows
                </label>
                <label>
                    <input type="checkbox" name="forests" <%= (query.forests == "on" ? "checked" : "") %>/>
                    Forests & river banks
                </label>
            </fieldset>-->
            <input type="submit" value="Update results" />
    </div>
    <div class="col span_9 ">
        <ul class="productlistings">
            <% for(var i = 0; i < products.length; i++) { %>
            <li>
                <article class="maincontent">
                    <h3>
                        <a href="/wild/<%= encodeURIComponent(products[i].english_name) %>"><%= products[i].english_name %></a>
                    </h3>
                    <span class="price">£1 per 100g</span>
                    <section>
                        <img src="/images/products/<%= products[i]._id %>/0.jpg" alt="<%= products[i].english_name %>"/>
                        <p><%= products[i].description %></p>
                    </section>
                    <a href="/wild/<%= encodeURIComponent(products[i].english_name) %>" class="more">More info</a>
                </article>
            </li>
            <% } %>
        </ul>
    </div>
    </form>

</div>
<% include ../partials/footer.ejs %>